/*
********************************************************************************************************************************
							Start Slideshow Section
********************************************************************************************************************************
*/
section#content {
	top: 400px;
	left: 600px;
	position: absolute;
	color: white;
}

img#slide{
	width: 100%
	height:auto;
}


/*
********************************************************************************************************************************
							End Slideshow Section
********************************************************************************************************************************
*/