/*
********************************************************************************************************************************
							Start Slideshow Section
********************************************************************************************************************************
*/

section#content {
	top: 400px;
	left: 600px;
	position: absolute;
	color: white;
}

img#slide{
	width: 100%
	height:auto;
}

/*
********************************************************************************************************************************
							End Slideshow Section
********************************************************************************************************************************
*/

/*
********************************************************************************************************************************
							Start Featured Courses
********************************************************************************************************************************
*/

div.course, div.course2 , div.course3{
	width: 400px;
	height: 500px;
	background: white;
	border: 1px solid transparent;
	position: absolute;
	top: 1244px;
}

div.course{
	left:400px;
}

div.course2{
	left:850px;
}

div.course3{
	left:1300px;
}

h6{
	font-size: 1em;
}

/*
********************************************************************************************************************************
							End Featured Courses
********************************************************************************************************************************
*/

/*
********************************************************************************************************************************
							Start About
********************************************************************************************************************************
*/

section#about{
	width: 100%;
	height: 509px;
	position: absolute;
	background: #252525;
	top: 1800px;
	left: 0;
}

div.about{
	color: white;
	text-align: center;
}

div.courses, div.reviews, div.students , div.content{
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
}

div.students{
	left: 250px;
}

div.courses{
	left: 951px;
}

div.reviews{
	left: 600px;
}

div.content{
	left: 1300px;
}


/*
********************************************************************************************************************************
							End About
********************************************************************************************************************************
*/

/*
====================================================================================================================================================================
                                                    Start Learn Tech Section Properties 
====================================================================================================================================================================
*/

div.learntechnow,div.learntechpodcast ,div.learntechblog {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2500px;
    left: 400px;
}

div.learntechnow {
    left: 400px;
}

div.learntechpodcast {
    left: 850px;
}

div.learntechblog {
    left: 1300px;
}

.h1lt {

    position: absolute;
    top: 2320px;
    left: 614px;

}

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties 
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    top: 3100px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/